<p><a name="OLE_LINK36"></a><a name="OLE_LINK35"> </a><a href="http://sina.echineselearning.com/english/adult-chinese/hsk-test-preparation.html">HSK  preparation </a>:<br>
  丢脸diūliǎn:（loss of face） <br>
  Over the next  couple of generations, when being in a comfortable financial position will not  be an alien concept to most Chinese, it will be fascinating to see if the  dynamics of <em>mianzi</em> in China will change. We will find out whether it is all about the economic  development or something hidden deeper in Chinese society. The answer will be  bits of both. For now though, just be aware that &quot;face&quot; is to many  the single most important thing and you may find that there are many rewards to  reap by being generous when dishing it out!</p>

